table {
    font-size:12px;
    font-family:Verdana,'Adobe Helvetica',Helvetica,'Bitstream Vera Sans',sans-serif;
    color: white;
    background-color: #4f4f4f;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
body {
    top: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #4f4f4f;
    color: white;
    font-family: Verdana,'Adobe Helvetica',Helvetica,'Bitstream Vera Sans',sans-serif;
    font-size: 12px;
}

a {
    font-family: Verdana,'Adobe Helvetica',Helvetica,'Bitstream Vera Sans',sans-serif;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

input {
    font-family: Verdana,'Adobe Helvetica',Helvetica,'Bitstream Vera Sans',sans-serif;
    font-size: 12px;
    color: white;
    background-color: #777777;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
}

.separateline {
    background-image: url(../image/gray/dot.png);
}

.innertable {
    font-size:12px;
    font-family:Verdana,'Adobe Helvetica',Helvetica,'Bitstream Vera Sans',sans-serif;
    color: white;
    background-color: #606060;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}



