 

 
 
#googlesearchdiv {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; text-align:left;
}
.gs-result {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.gs-result A {
	TEXT-DECORATION: none
}
.gs-text-box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px;font-size: 12px;
}

 

 .gs-result .gs-title { text-align:left; WIDTH: 100%; color: #4b7c9f; font-weight:bold; font-size: 12px;
                         letter-spacing: -1px; text-decoration:none;
                          border-bottom:0px none;padding: 0 8px 0 0;
                          background:url('/graphics/arrow_small.gif') right center no-repeat; }



  
 
