﻿body {
	margin: 0;
	padding: 0;
	letter-spacing: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5D5D5D;
}

 

H1 {
    font-size: 11px;
 margin-bottom: 0px;
    padding-bottom: 0px;
}

.NavHeading
{
	letter-spacing:normal; 
    margin: 0 0 5px 0;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

select
{
 font-size: 10px;
  color: #4b7c9f;
  font-weight: bold; 
}

th, td, pre, div 
{
  font-size: 11px;
 color: #000000;
}

.forumunreadcell
{
	background-color: #FAE084;
} 

.MasterPageContainer
{
   background-color: #ffffff 	
}

pre 
{
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

form {
	margin: 0px;
	padding: 0px;
}

.input1 
{
	font-size: 10px;
    width: 116px;
    color: #979DA2;
    background: none;
    border: none;
}

.input2 
{
	font-size: 10px;
    width: 81px;
    color: #979DA2;
    background: none;
    border: none;
}

.align-justify {
	text-align: justify;
}

.text1 {
    color: #6C7176;
}

.text2 {
    color: #D8D8D8;
}
 
.img1 {
    margin-right: 10px;
}


.style1 {
    color: #B2B2B2;
}

.style1 a {
    color: #B2B2B2;
}

.style1 a:hover {
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

p, ol, ul {
	margin-top: 0;
}

ul.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.list1 li {
	display: inline;
}

ul.list1 li a {
	display: block;
	height: 23px;
	margin: 0 0 7px 0;
	padding: 3px 0 0 35px;
	text-decoration: none;
	font-size: 16px;
}

ul.list1 li a:hover {
	text-decoration: none;
}

.rss {
	background: url('/graphics/template/img08.jpg') no-repeat left center;
}

a img {
	border: none;
}

a {
 color: #006D8E;
 text-decoration:none;
}

/* Ad Banner Space */

#adspace {
}

/* Header */

#header {
	height: 39px;
	background: url('/graphics/template/img01.gif') repeat-x;
}

#adheader {
	height: 39px;
	background: url('/graphics/template/img01.gif') repeat-x;
}

/* Logo */

#logo {
	float: left;
	width: 160px;
	height: 39px;
}

#logo h1 {
	margin: 0;
	padding: 0;
	text-indent: -9999em;
}

#logo a {
	display: block;
	width: 200px;
	height: 39px;
	background: url('/graphics/template/img02.jpg') no-repeat;
}

/* Search */

#search {
	float: right;
	padding: 6px 20px 0 0;
}

#search form {
	margin: 0;
	padding: 1px;
	background: #006D8E;
	border: 1px solid #86CCE1;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	border: none;
}

#search input.text {
	width: 227px;
	height: 20px;
	background: #FFFFFF;
}

#search input.button {
	width: 70px;
	height: 21px;
	margin-left: 0px;
	background: url('/graphics/template/img03.gif') repeat-x;
	color: #006D8E;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 6px 20px 0 0;
	list-style: none;
}

#menu li {
	float: left;
	height: 22px;
	padding: 5px 9px 0 11px;
	background: url('/graphics/template/img04.gif') no-repeat;
}

#menu li.first {
	background: none;
}

#menu a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

/* Submenu */

#submenu {
	height: 36px;
	background: #FAE084 url('/graphics/template/img05.gif') repeat-x;
	border-bottom: 0px solid #F59906;
}

 
#submenu ul {
	margin: 0;
	padding: 3px 5px 0 0;
	list-style: none;
}

#submenu li {
	float: right;
}

 

#submenu a {
	display: block;
	float: left;
	padding: 5px 9px;
	text-decoration: none;
	vertical-align: middle; 
	color: #003B4C;
}

#submenu a:hover {
	background: #FBDE9C url('/graphics/template/img06.gif') repeat-x left center;
	border: 0px solid #003B4C;
}

/* Content */

#content {
	padding: 40px;
	background: #FFFFFF;
}

.boxed {
}

.boxed .title {
	margin: 0 0 5px 0;
	font-size: 20px;
	font-weight: normal;
	color: #006D8E;
}

.boxed .content {
	padding: 15px 10px;
	border: 1px solid #CFDADD;
}

.post {
	margin-bottom: 30px;
}

.post .image {
	float: left;
	width: 80px;
}

.post .entry {
	margin-left: 80px;
}

.post h3 {
	margin: 0;
}

.post h3 a {
	text-decoration: none;
}

.post h3 a:hover {
	text-decoration: underline;
}

.post p {
	font-size: 14px;
}

.post p.meta {
	font-size: 11px;
	color: #006D8E;
}

#column1 {	
	float: left;
	width: 270px;
}

#column2 {
	float: right;
	width: 270px;
}

#column3 {
	margin: 0 300px;
}

/* Footer */

#footer {
	background: url('/graphics/template/img07.gif') repeat-x;
}







.GoogleTextAdHeading
{
		font-family: Verdana, Arial, Helvetica, sans-serif;
      color: #4b7c9f; font-weight:bold; font-size: 12px; 
      letter-spacing: -1px; text-decoration:none; border-bottom:0px none;padding: 0 8px 0 0;
	  background:url('/graphics/arrow_small.gif') right center no-repeat; 
}

.GoogleTextAd
{
		font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
 color: #000000;
}



 



.feedbackscore
{
	background-image: url('/graphics/star48.png');
	background-repeat: no-repeat;
	background-position: center;    
	color: #000000;
	font-size: 10px;
	text-align: center;
	vertical-align: middle; 
	height: 48px;
	width: 48px;
	border-bottom: 0px solid red;
	border-top: 0px solid red; 
	border-left: 0px solid red; 
	border-right: 0px solid red; 
}

 .gridpagelink
 {
	 color: #4b7c9f;
	 letter-spacing: -1px;
	 text-decoration:none;
 }
 
  .gridpagelinkselected
 {
	
	color: #ffffff;
	 letter-spacing: -1px;
	 text-decoration:none;
 }

.gridpagebox
{
	height: 20px;
/*	background: #FBDE9C url('/graphics/template/img06.gif') repeat-x left center;  */
	color: #000000;
	font-size: 11px;
    font-weight:bold;
	border-bottom: 0px solid #4b7c9f;
	border-top: 0px solid #4b7c9f; 
	border-left: 0px solid #4b7c9f; 
	border-right: 0px solid #4b7c9f; 
	text-align: center; 
}

.gridpageboxselected
{
	color: #ffffff;
	font-size: 11px;
	font-weight:bold;
	height: 15px; 
	border-bottom: 0px solid #4b7c9f;
	border-top: 0px solid #4b7c9f; 
	border-left: 0px solid #4b7c9f; 
	border-right: 0px solid #4b7c9f; 
	text-align: center;
}

/*
Styles that are applied on the containing element
like <TD></TD>. When applied, this will change both
the text and the text links inside them.
*/
 
.BlueBarTable
{
    border-right: 0px  solid #4b7c9f; 
    BORDER-LEFT: 0px solid #4b7c9f; 
    BORDER-TOP: 0px solid #4b7c9f; 
    BORDER-BOTTOM: 0px solid #4b7c9f; 
}

 .bluebar { font-family: verdana, arial, helvetica;
	     color: #4b7c9f;
	      font-weight:bold;
	      font-size: 11px;
	      letter-spacing: -1px;
	       text-decoration:none;
	       border-bottom: 0px none;
	        border-top: 0px solid #ffffff; 
	         border-left: 0px solid #ffffff; 
	          border-right: 0px solid #ffffff; 
	     height: 1px;
	       }
 
  .brightsidelink {  color: #FF7800; font-weight:bold; font-size: 11px; letter-spacing: -1px; text-decoration:none; border-bottom:0px none;padding: 0 8px 0 0;background:url('/graphics/arrow_small.gif') right center no-repeat; }
	.brightsidelink a:visited { text-decoration:none; color:#FF7800;}
 
 .sideHeading {  color: #6C7176; font-weight:bold; font-size: 11px; letter-spacing: -1px; text-decoration:none; border-bottom:0px none;padding: 0 8px 0 0; }
 
 .sidelink {    color: #4b7c9f; font-weight:bold; font-size: 11px; letter-spacing: -1px; text-decoration:none; border-bottom:0px none;padding: 0 8px 0 0;background:url('/graphics/arrow_small.gif') right center no-repeat; }

.InternalLink { font-family:  arial,sans-serif;  color:#0000ff; font-weight:bold; font-size: 12px;  text-decoration: underline; border-bottom:0px none;padding: 0 8px 0 0; }
.InternalLink a:visited { text-decoration: underline;  color:#0000ff;}

	.sidelink a:visited { text-decoration:none; color:#0040FF;}
.treeLinkTop	{  color: #4b7c9f;font-weight:bold; font-size: 11px; letter-spacing: -1px; text-decoration:none;}
.treeLink	{   color: #666666;font-weight:bold; font-size: 11px; letter-spacing: -1px; text-decoration:none;}
.treeLinkSelected	{  color: #FF7800;font-weight:bold; font-size: 11px; letter-spacing: -1px; text-decoration:none;}
.link	{ color: #666666; font-weight:normal; }
.linkBright	{ color: #FF7800;   }
.linkBright8	{ color: #FF7800;   }
.linkHeading	{ color: #4b7c9f; font-weight:bold;  font-size: 11px; letter-spacing: -1px;  }
.linkParagraph	{ color: #666666; text-decoration: underline;    }
 
.Text8Bold  {  font-size:10px;  text-decoration:none; font-style:normal; font-weight: bold; }
.Text10Bold { font-size:14px;  font-weight: bold; }
.TextBold  {   font-weight: bold; }

.TextFade  { background-color: #EFEFEF;    text-decoration:none; font-style:normal; }

.linkColoredText
{
	color: #4b7c9f;
}

 

.TableCardTopCell 
{   BORDER-RIGHT: 1px solid #BBBBBB; 
    BORDER-LEFT: 1px solid #BBBBBB; 
    BORDER-TOP: 1px solid #BBBBBB; 
    BORDER-BOTTOM: 1px solid #BBBBBB; 
	background-color: #EFEFEF;
    color:#000000;
} 

.TableCardLeftCell 
{   BORDER-RIGHT: 0px  solid #BBBBBB; 
    BORDER-LEFT: 1px solid #BBBBBB; 
    BORDER-TOP: 0px solid #EFEFEF; 
    BORDER-BOTTOM: 1px solid #BBBBBB; 
} 

.TableCardRightCell 
{   BORDER-RIGHT: 1px  solid #BBBBBB; 
    BORDER-LEFT: 0px solid #BBBBBB; 
    BORDER-TOP: 0px solid #EFEFEF; 
    BORDER-BOTTOM: 1px solid #BBBBBB; 
} 

.TableCardCell 
{   BORDER-RIGHT: 0px  solid #BBBBBB; 
    BORDER-LEFT: 0px solid #BBBBBB; 
    BORDER-TOP: 0px solid #EFEFEF; 
    BORDER-BOTTOM: 1px solid #BBBBBB; 
} 

.TableCardCellAlternate
{   BORDER-RIGHT: 0px  solid #BBBBBB; 
    BORDER-LEFT: 0px solid #BBBBBB; 
    BORDER-TOP: 0px solid #EFEFEF; 
    BORDER-BOTTOM: 1px solid #BBBBBB; 
    background-color: #EFEFEF;
} 

.TableCardBottomCell 
{   BORDER-RIGHT: 1px  solid #BBBBBB; 
    BORDER-LEFT: 1px solid #BBBBBB; 
    BORDER-TOP: 1px solid #EFEFEF; 
    BORDER-BOTTOM: 1px solid #BBBBBB; 
} 

.TableCardLeftCellAlternate 
{   BORDER-RIGHT: 0px  solid #BBBBBB; 
    BORDER-LEFT: 1px solid #BBBBBB; 
    BORDER-TOP: 0px solid #EFEFEF; 
    BORDER-BOTTOM: 1px solid #BBBBBB; 
    background-color: #EFEFEF;
} 

.TableCardRightCellAlternate
{   BORDER-RIGHT: 1px  solid #BBBBBB; 
    BORDER-LEFT: 0px solid #BBBBBB; 
    BORDER-TOP: 0px solid #EFEFEF; 
    BORDER-BOTTOM: 1px solid #BBBBBB; 
    background-color: #EFEFEF;
} 

.TableCardBottomAlternate 
{   BORDER-RIGHT: 1px  solid #BBBBBB; 
    BORDER-LEFT: 1px solid #BBBBBB; 
    BORDER-TOP: 1px solid #EFEFEF; 
    BORDER-BOTTOM: 1px solid #BBBBBB; 
    background-color: #EFEFEF;
} 

.TextBox 
{   BORDER-RIGHT: 0px outset red; 
    BORDER-LEFT: 0px outset red; 
    BORDER-TOP: 0px outset red; 
    BORDER-BOTTOM: 0px outset red; 
} 

.TextBoxBackground
{   
   text-align:left;
  vertical-align: top;  
  background:#FFFFFF url('graphics/TextBoxBackground.gif') no-repeat; 
} 

.SmallTextBoxBackground
{   
   text-align:left;
  vertical-align: top;  
  background:#FFFFFF url('graphics/SmallTextBoxBackground.gif') no-repeat; 
} 

.LongTextBoxBackground
{   
   width:496px;
   	 height: 23px;
   font-size: 10px;
   text-align:left;
  vertical-align: top;  
  background:#FFFFFF url('graphics/LongTextBoxBackground.gif') no-repeat; 
} 

.TextAreaBackground
{
	 width:496px;
	 height: 280px;
	 vertical-align: top;  
	 font-size: 10px;
	background: #fff url('graphics/TextAreaBackground.gif') no-repeat;
}

.TopicAreaTree
{
 text-align:left;
  vertical-align: top;  
  background:#FFFFFF url('graphics/SmallTextBoxBackground.gif') no-repeat; 
}

.NoteBookBorder
{
	 width:56px;
	 height: 38px;
	 vertical-align: top;  
	background: #fff url('graphics/NoteBookBorder.gif') repeat;
}

.FreeTextShade
{
 width: 600px;
 overflow: auto;
 word-wrap: break-word; 
  background-color : #EFEFEF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.FreeTextHalfWidthShade
{
 width: 300px;
 overflow: auto;
 word-wrap: break-word; 
 background-color : #EFEFEF;
}

.FreeText
{
 width: 600px;
 overflow: auto;
 word-wrap: break-word; 
 font-family: Verdana, Arial, Helvetica, sans-serif;
}

.FreeTextFull
{
 width: 625px;
 overflow: auto;
 word-wrap: break-word; 
 font-family: Verdana, Arial, Helvetica, sans-serif;
}

.NewsGroupBook 
{  
	height: 100%;
	Width: 99%; 
	BORDER-RIGHT: 3px solid #666666;
    BORDER-LEFT: 3px solid #666666;
    BORDER-TOP: 1px solid #666666;
    BORDER-BOTTOM: 3px solid #666666;
} 

.FreeTextNewsGroup
{
 width: 400px;
 overflow: auto;
 word-wrap: break-word; 
}

.FreeTextHalfWidth
{
 width: 300px;
 overflow: auto;
 word-wrap: break-word; 
 font-family: Verdana, Arial, Helvetica, sans-serif;
}

.FreeTextTopicArea
{
 width: 425px;
 overflow: auto;
 word-wrap: break-word; 
}

.FreeTextSearch
{
 width: 250px;
 overflow: auto;
 word-wrap: break-word; 
}





.csharpcode, .csharpcode pre
{
	font-size: 11px;
	color: black;
	font-family: Consolas, "Courier New", Courier, Monospace;
	background-color: #ffffff;
	 overflow: auto;
     word-wrap: break-word; 
     width: 680px;
	/*white-space: pre;*/
}

.csharpcode pre { margin: 0em; }

.csharpcode .rem { color: #008000; }

.csharpcode .kwrd { color: #0000ff; }

.csharpcode .str { color: #006080; }

.csharpcode .op { color: #0000c0; }

.csharpcode .preproc { color: #cc6633; }

.csharpcode .asp { background-color: #ffff00; }

.csharpcode .html { color: #800000; }

.csharpcode .attr { color: #ff0000; }

.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}

.csharpcode .lnum { color: #606060; }

.adTableTop
{
	height:20px;background-image: url('/graphics/corners/TableBlockTop.jpg'); background-repeat: no-repeat
}

.adTableMiddle
{
 background-image: url('/graphics/corners/TableBlockMiddle.jpg'); 
 background-repeat:repeat-y;	
 vertical-align: top; 
}
.adTableBottom
{
	height:20px;
	background-image: url('/graphics/corners/TableBlockBottom.jpg');
	background-repeat: no-repeat;
}

 
.PostTopRow
{
	background-color: #f4f4f4; 
	border-right: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-bottom: solid 0px #cccccc;
}
.PostUserRow
{
	background-color: #f4f4f4; 
	border-right: solid 1px #cccccc;
	border-top: solid 0px #cccccc;
	border-left: solid 1px #cccccc;
	border-bottom: solid 0px #cccccc;
}
.PostTextRow
{
	border-right: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-bottom: solid 0px #cccccc;
}
.PostBottomRow
{
	border-right: solid 1px #cccccc;
	border-top: solid 0px #cccccc;
	border-left: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
}
.PostSpacerRow
{
  border-style: none; 
}

 
 

 

