﻿
.AdTable
{
	margin: 0;
	padding: 0;
	letter-spacing: 0px;
	font-family: Segoe UI, Verdana; 
	color: #5D5D5D;
}

.AdTableBackground
{
	margin: 0;
	padding: 0;
	letter-spacing: 0px;
	font-family: Segoe UI, Verdana; 
	color: #5D5D5D;
    
}

.AdTopUrl
{
  text-align: left;
  color: #4b7c9f;
  font-weight:bold;
  text-decoration:none;
  border-bottom:0px none;
  padding: 0 8px 0 0;
  
}

.AdTopUrlAlt
{
  text-align: left;
  color: #4b7c9f;
  font-weight:bold;
  border-bottom:0px none;
  padding:0 8px 0 0;
  text-decoration:none;
 
}

.AdBottomUrl
{
  color: #666666;
  font-weight:bold; 
  text-decoration:none;
  border-bottom:0px none;
  padding: 0 0 0 0; 
}

.AdLogoUrl
{
   color: #000000;
  font-weight:bold; 
  text-decoration:none;
  border-bottom:0px none;
  padding: 0 0 0 0; 
  text-align: left;
  font-size: 12; 
  vertical-align:bottom;
}


.AdText
{
  text-align: left;
}

  